<div class="flex min-h-screen items-center justify-center bg-muted px-4">
  <div class="w-full max-w-sm rounded-2xl bg-background p-6 shadow-lg">
    
    <app-input
    [inputId]="'login'"
    [type]="'text'"
    [label]="'Novo login para cadastro'"
    [(model)]="objeto.login"
    [required]="true"
    placeholder="Login"
    ></app-input>

    <app-input
    [inputId]="'nome'"
    [type]="'text'"
    [label]="'Novo nome para cadastro'"
    [(model)]="objeto.nome"
    [required]="true"
    placeholder="Nome"
    ></app-input>

    <app-input
    [inputId]="'senha'"
    [type]="'password'"
    [label]="'Novo senha para cadastro'"
    [(model)]="objeto.senha"
    [required]="true"
    placeholder="Senha"
    ></app-input>

    <button hlmBtn variant="default" class="w-full mb-3"(click)="cadastrar()">
      Cadastrar
    </button>

    <div class="text-center">
      <button [routerLink]="['/login']" class="text-sm text-muted-foreground hover:underline">
        Ja tenho conta
      </button>
    </div>
  </div>
</div>
