<brn-separator class="my-4 mb-20" hlmSeparator orientation="horizontal" />
<div class="flex mt-5 justify-between">
  <div class="flex">
    <hlm-avatar variant="large">
      <img src="" alt="Avatar" hlmAvatarImage />
      <span class="bg-[hsl(var(--foreground))] text-white" hlmAvatarFallback
        >{{nm_inicial}}</span
      >
    </hlm-avatar>
    <div class="flex flex-col ml-2">
      <span class="text-base font-bold">{{nm_usuario}}</span>
      <span *ngIf="online"  class="text-sm font-medium">Online</span>
      <span *ngIf="!online"  class="text-sm font-medium">Offline</span>
    </div>
  </div>

  <div class=" flex justify-center items-center">

    <button *ngIf="tp_status === 'ACEITO' " title="Mensagem" variant="ghost" hlmBtn   >
      <ng-icon hlm size='base' name="lucideMessageCircle" />
  </button>
    <button *ngIf="tp_status === 'ACEITO' " title="Opções" variant="ghost" hlmBtn [brnMenuTriggerFor]="menu"  >
       <ng-icon hlm size='base' name="lucideEllipsisVertical" />
   </button>

    <button *ngIf="tp_status === 'PENDENTE' " title="aceitar" variant="ghost" hlmBtn  (click)="aceitarConvite()">
       <ng-icon hlm size='base' name="lucideCheck" />
    </button>
  </div>

</div>
<brn-separator class="my-4 mb-20" hlmSeparator orientation="horizontal" />


<ng-template #menu>
  <hlm-menu>
    <hlm-menu-label>Opções</hlm-menu-label>
    <hlm-menu-separator />
    <hlm-menu-group>
      <button hlmMenuItem (click)="removerAmizade()">
        Desfazer amizade
      </button>

      <hlm-menu-separator />

    </hlm-menu-group>
  </hlm-menu>
</ng-template>
