<!-- sidebar.component.html -->
<div
  *ngIf="sidebarOpen"
  class="w-full h-screen max-h-screen bg-white  overflow-y-auto p-4"
>
  <!-- Grupo: Salas -->
  <div class="mb-6">
    <h2 class="text-sm font-semibold text-gray-600 mb-2">Salas</h2>
    <div *ngFor="let objeto of objetos" (contextmenu)="onRightClick($event, objeto)">
      <button
        (click)="entrarSala(objeto)"
        class="w-full text-left px-4 py-2 rounded hover:bg-gray-100 text-gray-800"
      >
        <span class="inline-flex items-center gap-2">
          <ng-icon name="lucideBox" />
          {{ objeto.nm_room }}
        </span>
      </button>
    </div>
  </div>

  <!-- Grupo: Opções -->
  <div class="mt-4">
    <h2 class="text-sm font-semibold text-gray-600 mb-2">Opções</h2>

    <button
      title="Ajuste"
      class="w-full text-left px-4 py-2 rounded hover:bg-gray-100 text-gray-800"
    >
      <span class="inline-flex items-center gap-2">
        <ng-icon name="lucideCircleFadingPlus" />
        <app-salaform></app-salaform>
      </span>
    </button>

    <button
      [routerLink]="'amigos'"
      class="w-full text-left px-4 py-2 rounded hover:bg-gray-100 text-gray-800"
    >
      <span class="inline-flex items-center gap-2">
        <ng-icon hlm size='sm' name="lucideUsers" />
        Amigos
      </span>
    </button>
    <button
      (click)="sair()"
      class="w-full text-left px-4 py-2 rounded hover:bg-gray-100 text-gray-800"
    >
      <span class="inline-flex items-center gap-2">
        <ng-icon hlm size='sm' name="lucideLogOut" />
        Sair
      </span>
    </button>
  </div>
</div>

<!-- Context Menu -->
<div
  *ngIf="contextMenuVisible"
  [style.top.px]="contextMenuPosition.y"
  [style.left.px]="contextMenuPosition.x"
  class="fixed z-50 bg-white border rounded shadow-lg p-2 w-48"
  (mouseleave)="closeContextMenu()"
>
  <div class="text-sm font-semibold mb-1">{{ itemSelecionado?.nm_room }}</div>
  <hr class="my-1" />
  <button
    (click)="entrarSala(itemSelecionado)"
    class="block w-full text-left px-2 py-1 hover:bg-gray-100"
  >
    Abrir
  </button>
  <button class="block w-full text-left px-2 py-1 hover:bg-gray-100">
    Compartilhar
  </button>
  <hr class="my-1" />
  <button
    (click)="sairSala(itemSelecionado.id_room)"
    class="block w-full text-left px-2 py-1 text-red-600 hover:bg-red-50"
  >
    Sair
  </button>
</div>
