<section hlmCard class="w-full h-full max-w-3xl mx-auto h-[80vh] flex flex-col">
  <!-- Título -->
  <div hlmCardHeader class="p-4 border-b flex flex-row">
    <div class="w-5/6 flex">
      <hlm-avatar variant="large">
        <img src="" alt="Avatar" hlmAvatarImage />
        <span
          class="bg-[hsl(var(--foreground))] text-white"
          hlmAvatarFallback
          >{{ nomeSalaInicial }}</span
        >
      </hlm-avatar>
      <div class="flex flex-col ml-2 justify-center">
        <h2 class="text-xl font-semibold">{{ nomeSala }}</h2>
      </div>
    </div>
    <div class="w-1/6 flex justify-end items-center">
      <ng-icon hlm size="base" name="lucideSearch" />
    </div>
  </div>

  <!-- Mensagens -->
  <div
    #messageContainer
    hlmCardContent
    class="flex-1 overflow-y-auto p-4 space-y-3 bg-[hsl(var(--muted))]"
  >
    <div *ngFor="let msg of messages"  >
    
    <div class=" flex justify-end w-6/6 ">
      <div *ngIf="msg.id_usuario === userId"  class=" max-w-3/6 min-w-1/6   ">
        <app-caixachat [objeto]="msg" [isLogado]="true"> </app-caixachat>
      </div>
    </div>

      <div  class=" flex justify-start w-6/6 ">
        <div *ngIf="msg.id_usuario !== userId"  class=" max-w-3/6 min-w-1/6   ">
          <app-caixachat [objeto]="msg" [isLogado]="false"> </app-caixachat>
        </div>
      </div>

    </div>
  </div>

  <!-- Campo de entrada -->
  <div hlmCardFooter class="p-4 border-t">
    <div class="flex items-center space-x-2 w-full">
      <input
        class="flex-1"
        hlmInput
        placeholder="Digite sua mensagem..."
        type="text"
        [(ngModel)]="messageInput"
        (keyup.enter)="sendMessage()"
      />
      <button (click)="sendMessage()" hlmBtn>Enviar</button>
    </div>
  </div>
</section>
