<!-- Wrapper da página -->
<div class="h-screen flex flex-col">

  <!-- Topbar -->
  <!-- <div class="bg-[hsl(var(--background))] text-[hsl(var(--foreground))] border-b border-[hsl(var(--secondary))]">
    <div class="flex justify-start p-3">
      <div class="mr-4">
        <button hlm variant="ghost" (click)="toggleSidebar()" class="text-center">
          <ng-icon hlm size="sm" name="lucidePanelRightClose" />
        </button>
      </div>
      <div>
        <p>Início</p>
      </div>
    </div>
  </div> -->

  <!-- Corpo principal com sidebar e conteúdo -->
  <div class="flex flex-1 overflow-hidden">

    <!-- Sidebar com largura dinâmica -->
    <div
      class="bg-[hsl(var(--secondary))] text-[hsl(var(--foreground))] shadow-lg transition-all duration-300 ease-in-out flex flex-col"
      [ngClass]="{
        'w-64': sidebarOpen,
        'w-12': !sidebarOpen
      }"
    >
      <!-- Header do Sidebar -->
      <div class="flex items-center justify-between p-4 border-b border-gray-700" *ngIf="sidebarOpen">
        <!-- Avatar -->
        <div class="flex">
          <hlm-avatar variant="large">
            <img src="" alt="Avatar" hlmAvatarImage />
            <span class="bg-[#FD005B] text-white" hlmAvatarFallback>RB</span>
          </hlm-avatar>
          <div class="flex flex-col ml-2">
            <span class="text-base font-bold">Ramon Barbosa</span>
            <span class="text-sm font-medium">Desenvolvedor</span>
          </div>
        </div>

        <!-- Botão para fechar -->
        <button title="Fechar" hlm variant="ghost" (click)="toggleSidebar()" class="text-[hsl(var(--foreground))]">
          <ng-icon hlm name="lucidePanelLeftClose" size="base" />
        </button>
      </div>

      <!-- Conteúdo reduzido quando fechado -->
      <div *ngIf="!sidebarOpen" class="flex justify-center items-start h-full ">
       <div class="mt-8">
        <button title="exibir" hlm variant="ghost" (click)="toggleSidebar()" class="text-center">
          <ng-icon hlm size="base" name="lucidePanelRightClose" />
        </button>
       </div>
      </div>

      <!-- Menu de navegação -->
      <nav *ngIf="sidebarOpen" class="flex flex-col p-4 space-y-2">
        <a href="admin/home" class="hover:bg-zinc-100 px-4 py-2 rounded">Inicio</a>
        <a href="admin/chat/1" class="hover:bg-zinc-100 px-4 py-2 rounded">Usuários</a>
        <a href="#" class="hover:bg-zinc-100 px-4 py-2 rounded">Relatórios</a>
      </nav>
    </div>

    <!-- Conteúdo principal -->
    <div class="flex-1 p-4 transition-all duration-300 ease-in-out">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
